In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('Fake_Real_Data.csv')

In [13]:
df.drop_duplicates(inplace = True)

In [15]:
df.head(1)

                                                Text label
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake

In [16]:
df['Label'] = df['label'].map({'Fake':0, 'Real':1})

In [17]:
df.head(2)

                                                Text label  Label
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake      0
1  U.S. conservative leader optimistic of common ...  Real      1

In [18]:
import tensorflow as tf
from tensorflow.keras.preprocessing .text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Embedding

In [19]:
t = Tokenizer(num_words = 5000)

In [20]:
t.fit_on_texts(df['Text'])

In [21]:
seq = t.texts_to_sequences(df['Text'])

In [23]:
import numpy as np
x = pad_sequences(seq, maxlen=200)
y = np.array(df['Label'])

In [25]:
model = Sequential([
    Embedding(input_dim=5000, output_dim = 64, input_length = 200),
    LSTM(32, return_sequences = True),
    LSTM(32),
    Dense(1, activation = 'sigmoid')
])

C:\Users\s_nas\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\embedding.py:90: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

In [26]:
model.compile(optimizer='adam', loss= 'binary_crossentropy', metrics=['accuracy'])

In [27]:
model.fit(x,y, epochs=5)

Epoch 1/5
309/309 ━━━━━━━━━━━━━━━━━━━━ 40s 113ms/step - accuracy: 0.9632 - loss: 0.2041
Epoch 2/5
309/309 ━━━━━━━━━━━━━━━━━━━━ 35s 113ms/step - accuracy: 0.9985 - loss: 0.0065
Epoch 3/5
309/309 ━━━━━━━━━━━━━━━━━━━━ 35s 113ms/step - accuracy: 1.0000 - loss: 7.7829e-04
Epoch 4/5
309/309 ━━━━━━━━━━━━━━━━━━━━ 35s 114ms/step - accuracy: 1.0000 - loss: 4.0796e-04
Epoch 5/5
309/309 ━━━━━━━━━━━━━━━━━━━━ 35s 113ms/step - accuracy: 1.0000 - loss: 1.9336e-04

In [28]:
def classify(news):
    seq = t.texts_to_sequences([news])
    padded = pad_sequences(seq, maxlen=200)
    pred = model.predict(padded)[0][0]
    return 'REAL' if pred>0.5 else 'FAKE'

In [29]:
classify('''Gaurav Kundi, a 42-year-old Indian-origin man, is on life support with severe brain and nerve damage after Australian police assaulted him in Adelaide's eastern suburbs. His wife Amritpal Kaur said that the officers pinned him down on Payneham Road during the arrest, slamming his head against a car and then onto the road.''')

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 488ms/step

'REAL'

In [30]:
classify('''An attack that injured 12 people at a Colorado event in support of Israeli hostages in Gaza is intensifying fears over rising antisemitism and violence against Jews in the US. Authorities on Sunday detained Mohamed Soliman for allegedly throwing two Molotov cocktails into a pro-Israel crowd and using a flamethrower at the event in Boulder. The suspect yelled "Free Palestine" during the attack, according to law enforcement.''')

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 86ms/step

'REAL'

In [31]:
user = input('enter news')
classify(user)

enter news United States second lady Usha Vance termed the India-US relationship as one that is "very personal" for her, adding that this is a time of "great opportunity" for ties between the two nations, whose relationship has "ebbed and flowed at times". She said this during a chat at the eighth edition of the US-India Strategic Partnership Forum (USISPF) Leadership Summit.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step

'REAL'