# NLP Pipeline:

In [43]:
#Data Collection

In [44]:
import pandas as pd
df = pd.read_csv('sentiment-analysis.csv', )

In [69]:
df.head(15)

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score,Clean
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85,None
1,The service was terrible.,Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65,None
2,This movie is amazing!,Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92,None
3,I'm so disappointed with their customer support.,Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78,None
4,Just had the best meal of my life!,Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88,None
5,The quality of this product is subpar.,Negative,Amazon Reviews,2023-06-16 10:15:27,shopper123,San Francisco,0.72,None
6,I can't stop listening to this song. It's incr...,Positive,Spotify,2023-06-16 13:40:18,musiclover456,Berlin,0.91,None
7,Their website is so user-friendly. Love it!,Positive,Website Testimonial,2023-06-16 16:05:36,testimonialuser1,Sydney,0.87,None
8,I loved the movie! It was fantastic!,Positive,IMDb,2023-07-02 09:12:34,user123,New York,0.92,None
9,The customer service was terrible.,Negative,Yelp Reviews,2023-07-02 10:45:21,user456,Los Angeles,0.65,None
10,This book made me feel inspired. Highly recomm...,Positive,Goodreads,2023-07-02 12:34:56,bookworm789,London,0.88,None
11,I'm extremely disappointed with their product ...,Negative,Online Store,2023-07-02 15:21:43,shopper789,San Francisco,0.72,None
12,Just had the most amazing vacation! I can't wa...,Positive,TripAdvisor,2023-07-02 18:01:23,travelenthusiast1,Sydney,0.93,None
13,The food at this restaurant was awful. Never g...,Negative,Zomato,2023-07-02 20:45:37,foodlover123,Mumbai,0.55,None
14,I can't stop listening to this song. It's my n...,Positive,Spotify,2023-07-03 09:17:52,musiclover789,Berlin,0.91,None

In [46]:
df.shape

(96, 7)

In [47]:
#Text Cleaning

In [48]:
df.isna().sum()

Text                 0
 Sentiment           0
 Source              0
 Date/Time           0
 User ID             0
 Location            0
 Confidence Score    0
dtype: int64

In [49]:
df.duplicated().sum()

np.int64(21)

In [50]:
def toLowerCase(text):
    return text.lower()

In [70]:
toLowerCase('The food at this restaurant was awful. Never g')

'the food at this restaurant was awful. never g'

In [51]:
import string
import re
def removePunctuation(text):
    return text.translate(str.maketrans('','', string.punctuation))

In [87]:
removePunctuation('The food! at this ,restaurant was? awful. Never g')

'The food at this restaurant was awful Never g'

In [88]:
def removeSpecial(text):
    return re.sub(r'[^a-zA-Z\s]','', text)

In [77]:
removeSpecial('The food at this 😁 restaurant was awful. Never g')

'The food at this  restaurant was awful Never g'

In [78]:
def removeWhite(text):
    return re.sub(r'\s+', ' ', text)

In [79]:
removeWhite('The   food at this restaurant was awful   .   Never g')

'The food at this restaurant was awful . Never g'

In [54]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\s_nas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [55]:
from nltk.corpus import stopwords

In [56]:
len(stopwords.words('english'))

198

In [57]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\s_nas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [58]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\s_nas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [59]:
from nltk.tokenize import word_tokenize

In [60]:
stop_words = set(stopwords.words('english'))

In [61]:
def removeStop(text):
    words = word_tokenize(text)
    filtered = [word for word in words if word not in stop_words]
    return ' '.join(filtered)


# for i in words:
#     if i not in stop_words:
#     print(i)

In [80]:
removeStop('The food😁 at this restaurant    was awful.   Never g😁')

'The food restaurant awful . Never g'

In [83]:
def clean_text(text):
    text = toLowerCase(text)
    text = removePunctuation(text)
    text = removeSpeacial(text)
    text = removeWhite(text)
    text = removeStop(text)
    return text

In [84]:
clean_text('The food😁 at this restaurant    was awful.   Never g😁')

'food restaurant awful never g'

In [85]:
df['Clean'] = df['Text'].apply(clean_text)

In [86]:
df

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score,Clean
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85,love product
1,The service was terrible.,Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65,service terrible
2,This movie is amazing!,Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92,movie amazing
3,I'm so disappointed with their customer support.,Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78,im disappointed customer support
4,Just had the best meal of my life!,Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88,best meal life
...,...,...,...,...,...,...,...,...
91,Just had the most amazing vacation! I can't wa...,Positive,TripAdvisor,2023-07-02 18:01:23,travelenthusiast1,Sydney,0.93,amazing vacation cant wait go back
92,The food at this restaurant was awful. Never g...,Negative,Zomato,2023-07-02 20:45:37,foodlover123,Mumbai,0.55,food restaurant awful never going back
93,I can't stop listening to this song. It's my n...,Positive,Spotify,2023-07-03 09:17:52,musiclover789,Berlin,0.91,cant stop listening song new favorite
94,Their website is so confusing and poorly desig...,Negative,Website Review,2023-07-03 11:59:18,user789,Toronto,0.68,website confusing poorly designed
95,I had an incredible experience at the theme pa...,Positive,Trip Report,2023-07-03 14:40:05,thrillseeker1,Orlando,0.89,incredible experience theme park much fun

In [90]:
comp = df[['Text', 'Clean']]

In [91]:
comp

,Text,Clean
0,I love this product!,love product
1,The service was terrible.,service terrible
2,This movie is amazing!,movie amazing
3,I'm so disappointed with their customer support.,im disappointed customer support
4,Just had the best meal of my life!,best meal life
...,...,...
91,Just had the most amazing vacation! I can't wa...,amazing vacation cant wait go back
92,The food at this restaurant was awful. Never g...,food restaurant awful never going back
93,I can't stop listening to this song. It's my n...,cant stop listening song new favorite
94,Their website is so confusing and poorly desig...,website confusing poorly designed
95,I had an incredible experience at the theme pa...,incredible experience theme park much fun

In [117]:
import numpy as np
text = ['I love Programming', 'Python is awesome', 'AI is fun', 'Bugs are terrible']
labels = np.array([1, 1, 1, 0])

In [118]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN, Dense
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [119]:
tokenizer = Tokenizer(num_words = 1000)

In [120]:
tokenizer.fit_on_texts(text)

In [121]:
seq = tokenizer.texts_to_sequences(text)

In [122]:
seq
#['I love Programming', 'Python is awesome', 'AI is fun', 'Bugs are terrible']

[[2, 3, 4], [5, 1, 6], [7, 1, 8], [9, 10, 11]]

In [123]:
pad  = pad_sequences(seq, maxlen=5)

In [124]:
pad

array([[ 0,  0,  2,  3,  4],
       [ 0,  0,  5,  1,  6],
       [ 0,  0,  7,  1,  8],
       [ 0,  0,  9, 10, 11]], dtype=int32)

In [125]:
model = Sequential([
    Embedding(input_dim=1000, output_dim=16, input_length=5),
    SimpleRNN(16),
    Dense(1, activation='sigmoid')
])

In [126]:
model.compile(optimizer= 'adam', loss='binary_crossentropy', metrics=['accuracy'])

In [128]:
model.fit(pad, labels, epochs=25)

Epoch 1/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 74ms/step - accuracy: 0.7500 - loss: 0.6541
Epoch 2/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - accuracy: 0.7500 - loss: 0.6382
Epoch 3/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - accuracy: 0.7500 - loss: 0.6229
Epoch 4/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - accuracy: 0.7500 - loss: 0.6081
Epoch 5/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - accuracy: 0.7500 - loss: 0.5938
Epoch 6/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - accuracy: 0.7500 - loss: 0.5800
Epoch 7/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 78ms/step - accuracy: 0.7500 - loss: 0.5667
Epoch 8/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 75ms/step - accuracy: 0.7500 - loss: 0.5538
Epoch 9/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - accuracy: 0.7500 - loss: 0.5415
Epoch 10/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 83ms/step - accuracy: 0.7500 - loss: 0.5296
Epoch 11/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - accuracy: 0.7500 - loss: 0.5181
Epoch 12/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - accuracy: 0.7500 - loss: 0.5072
Epoch 13/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - accuracy: 0.7500 - loss: 0.4968
Epoch 14/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step - accuracy: 0.7500 - loss: 0.4869
Epoch 15/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - accuracy: 0.7500 - loss: 0.4774
Epoch 16/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - accuracy: 0.7500 - loss: 0.4684
Epoch 17/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - accuracy: 0.7500 - loss: 0.4598
Epoch 18/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step - accuracy: 0.7500 - loss: 0.4515
Epoch 19/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - accuracy: 0.7500 - loss: 0.4436
Epoch 20/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 166ms/step - accuracy: 0.7500 - loss: 0.4359
Epoch 21/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - accuracy: 0.7500 - loss: 0.4283
Epoch 22/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 87ms/step - accuracy: 0.7500 - loss: 0.4208
Epoch 23/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 111ms/step - accuracy: 0.7500 - loss: 0.4133
Epoch 24/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step - accuracy: 0.7500 - loss: 0.4057
Epoch 25/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 93ms/step - accuracy: 0.7500 - loss: 0.3980

In [149]:
sample = ['I enjoy coding', 'Bugs are bad']
sample_seq = tokenizer.texts_to_sequences(sample)
sample_pad = pad_sequences(sample_seq, maxlen=5)

In [150]:
model.predict(sample_pad)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step

array([[0.7528236 ],
       [0.70032907]], dtype=float32)